{{- if ne (lookPath "crontab") "" -}}
#!/bin/sh

# Definierte gewünschte Cron-Zeile mit dem chezmoi-Pfad über das Template
TARGET_CRON="*/30 * * * * {{ .chezmoi.executable }} update --no-tty --force"

# Prüft, ob die gewünschte Zeile bereits exakt existiert
if ! crontab -l 2>/dev/null | grep -Fx "$TARGET_CRON" >/dev/null 2>&1; then
  # Entfernt vorhandene Zeilen, die den Befehl enthalten, aber nicht übereinstimmen
  (crontab -l 2>/dev/null | grep -v "{{ .chezmoi.executable }} update --no-tty --force"; echo "$TARGET_CRON") | crontab -
fi

{{ end }}
