if (Test-Path "$HOME\.config\powershell\completion\chezmoi-completion.ps1") {
    . "$HOME\.config\powershell\completion\chezmoi-completion.ps1"
}

if (Test-Path "$HOME\.config\powershell\aliases.ps1") {
    . "$HOME\.config\powershell\aliases.ps1"
}


{{ if ne (lookPath "starship") "" }}
#################################################
#                   STARSHIP                    #
#################################################

Invoke-Expression (&starship init powershell)
{{- end }}
